name: update-rust-toolchain-test
on:
  workflow_dispatch:

jobs:
  lockfile:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    environment: "update"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        # with:
        #   persist-credentials: false
      - name: Update rust-toolchain
        uses: a-kenji/update-rust-toolchain@main
        with:
          toolchain-path: ./rust-toolchain.toml
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
